* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Quicksand", sans-serif;
}

html{
    font-size: 62.5%;
    background-color:rgba(0, 0, 0, 0.4);
    background-image: url("https://img.freepik.com/free-vector/festive-christmas-clipart-elements-collection_53876-95704.jpg?w=2000");

}

.container{
    width: 100%;
    height: 100%;
    background-color: #FFF2EB;
    color: #FFF2EB;
    display: flex;
    justify-content: center;
    align-items: normal;
    background-color:rgba(0, 0, 0, 0.4);
    background-image: url("https://img.freepik.com/free-vector/festive-christmas-clipart-elements-collection_53876-95704.jpg?w=2000");
}
/*
.directions{
    margin: 70px auto;
    padding: 20px;
    background-color: #1C4F56;
    border-radius: 25px;
    position: relative;
    height: 200px;
    width: 400px;
}*/

.calendar{
    width:112.5rem;
    height: 87.5rem;
    background-color: #CFF0DB;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.month{
    width: 100%;
    height: 30rem;
    background-color: #DB4529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    text-align: center;
    /*text-shadow: 0.3rem .5rem rgba(0,0,0,0.2);*/

}
.month h1{
    font-size:8rem;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing:0.5rem;
    margin-bottom: 2.5rem;
}
.month p{
    font-size: 2.5rem;
    
}
.weekdays{
    background-image: url("/images/snowflake.png");
    background-size: 56.25px;
    width: 100%;
    height: 10rem;
    padding: 0rem .1rem;
    display:flex;
    align-items: center;
    color: #1C4F56
}

.weekdays div {
    font-size: 3.75rem;
    font-weight:500;
    letter-spacing:0.25rem;
    width:calc(44.2rem/3.5 * 1.25);
    display: flex;
    justify-content: center;
    align-items:center;
    /*text-shadow: 0.3rem .5rem rgba(0,0,0, 0.5);*/
}

.days {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    padding: 2.5rem 0.25rem;
    color:#DB4529;
}

.days div {
    border-radius:30px;
    font-size:3.5rem;
    margin: .75rem;
    width: calc(40.2rem/3.5 * 1.25);
    height:12.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    /*text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);*/
    transition:background-color 0.2s;
}

.days button {
    border-radius:30px;
    font-size:3.5rem;
    margin: .75rem;
    width: calc(40.2rem/3.5 * 1.25);
    height:12.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition:background-color 0.2s;
    color:#FFF2EB;
}

.twelvedays {
    background-color: #DB4529;
}

.days button:hover:not(.null){
    background-color: #6EA100;
    /*border: 0.2rem solid #eee;*/
    cursor: pointer;
    color: #CFF0DB;
}
#popup1 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/present.png");
    background-size: 110px;
    
}

#popup2 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/hat.png");
    background-size: 110px;
}

#popup3 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/champagne.png");
    background-size: 110px;
}

#popup4 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/tooters.png");
    background-size: 110px;
}
#popup5 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/present.png");
    background-size: 110px;
}

#popup6 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/hat.png");
    background-size: 110px;
}

#popup7 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/champagne.png");
    background-size: 110px;
}

#popup8 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/tooters.png");
    background-size: 110px;
}

#popup9 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/present.png");
    background-size: 110px;
}

#popup10 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/hat.png");
    background-size: 110px;
}

#popup11 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/champagne.png");
    background-size: 110px;
}

#popup12 {
    margin: 70px auto;
    padding: 20px;
    width: 550px;
    height: 400px;
    position: absolute;
    background-image: url("/images/tooters.png");
    background-size: 110px;
}
.button {
    font-size: 1em;
    padding: 10px;
    color: #FFF2EB;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background-color: #1C4F56;
    border-radius: 0px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .overlay h2 {
    margin-top: 0;
    color: #1C4F56;
    font-size: 35px;
    font-weight:bold;
    position: fixed;
  }
 .overlay .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
.close:hover {
    color: #DB4529;
  }
.content {
    max-height: 30%;
    overflow: visible;
    position: absolute;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
